<div class="mentors">

  <div class="mentors_sidebars">
    <div class="title" style="text-align: left">
      <div style="font-size: 1.6875rem;">
        Departments
        <span></span>
      </div>
    </div>

    <div class="branches_array" *ngIf="branches">
      <a *ngFor="let items of branches" routerLinkActive="dept-items-active" routerLink="/mentors/dept/{{items.id}}">
        <div class="branches_item" >
          {{items.branch_name}}

        </div>
      </a>
    </div>
  </div>


  <div class="mentor_data">
    <router-outlet></router-outlet>
  </div>


</div>
