@import "../../style/common.scss";
.container {
  // position:fixed;
  top: 0;
  height: 8%;
  width: 100%;
  ul {
    display: grid;
    grid-template-columns: 80% 20%;
  }
}
.heading {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.5625rem;
}

.cross {
  margin-top: 0.5rem;
  right: 6%;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 0.875rem;
  justify-content: space-between;
  span {
    background-color: $grey;
    height: 0.15625rem;
    width: 1.2375rem;
    &:nth-child(1) {
      transform: rotate(45deg) translateY(0.5rem);
    }
    &:nth-child(2) {
      transform: rotate(-45deg) translateY(-0.5rem);
    }
  }
}
