<div class="team">

  <div class="team_inner">

    <div>
      <div class="title">
        <div style="font-size: 1.6875rem;">
          Overall Coordinator
          <span></span>
        </div>

      </div>

      <div *ngIf="coordinator" class="team_array">
        <div *ngFor="let items of coordinator" class="team_unit">
          <span>
            <img class="photo" [alt]="items.name" [src]="items.photo" />
            <p class="team_name">{{items.name}}</p>
            <p class="team_branch">{{items.branch}}&nbsp;{{items.year}}&nbsp;Year</p>
            <a [href]="items.facebook">
              <img class="fb" src="assets/team/fb.jpeg" alt="" />
            </a>

            <a [href]="items.linkden">
              <img class="ln" src="assets/team/ln.jpeg" alt="" />
            </a>
          </span>
        </div>
      </div>

    </div>


    <div>
      <div class="title">
        <div style="font-size: 1.6875rem; margin-top: 3vh;">
          Fourth Yearites
          <span></span>
        </div>

      </div>

      <div *ngIf="four" class="team_array">
        <div *ngFor="let items of four" class="team_unit">
            <span>
                <img class="photo" [alt]="items.name" [src]="items.photo" />
                <p class="team_name">{{items.name}}</p>
                <p class="team_branch">{{items.branch}}&nbsp;IV&nbsp;Year</p>
                <a [href]="items.facebook">
                  <img class="fb" src="assets/team/fb.jpeg" alt="" />
                </a>

                <a [href]="items.linkden">
                  <img class="ln" src="assets/team/ln.jpeg" alt="" />
                </a>
              </span>
        </div>
      </div>

    </div>

    <div>
        <div class="title">
          <div style="font-size: 1.6875rem; margin-top: 3vh;">
            Third Yearites
            <span></span>
          </div>

        </div>

        <div *ngIf="three" class="team_array">
          <div *ngFor="let items of three" class="team_unit">
              <span>
                  <img class="photo" [alt]="items.name" [src]="items.photo" />
                  <p class="team_name">{{items.name}}</p>
                  <p class="team_branch">{{items.branch}}&nbsp;III&nbsp;Year</p>
                  <a [href]="items.facebook">
                    <img class="fb" src="assets/team/fb.jpeg" alt="" />
                  </a>

                  <a [href]="items.linkden">
                    <img class="ln" src="assets/team/ln.jpeg" alt="" />
                  </a>
                </span>
          </div>
        </div>

      </div>
  </div>
</div>
