@import '../../style/common.scss';

.containersm {
    font-size: 17.125rem;
    width: 17.125rem;
    max-width: 90vw;
    // height:fit-content;
}

.containermd{
    font-size:20.25rem;
    width:20.25rem;
    max-width: 90vw;
    // height:fit-content;
}

.containerlg{
    font-size: 36.9375rem;
    width:36.9375rem;
    max-width: 90vw;
    // height:fit-content;

}

.containerxl{
    width:37.5rem;
    width:37.5rem;
    max-width: 90vw;
    // height:fit-content;
}


.blogImage{
    width: 1em;
    display:block;
    border-radius: 5px;
    text-align:center;
    position: relative;
}

.headingsm {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
}

.headingmd {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 1.125rem;
    line-height: 1.25rem;
}
.headinglg {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 1.25rem;
    line-height: 1.625rem;
}
.headingxl {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 1.875rem;
    line-height: 2.4375rem;
}

