@import '../../style/common.scss';

.containersm {
    width: 17.125rem;
    .ImageWrapperDiv{
        width:100%;
        overflow: hidden;
        margin: 0;
        padding-top: 75%;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.containermd{
    .ImageWrapperDiv{
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding-top: 75%;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;            
        }
    }
}

.containerlg{
    max-width: 90vw;
    .ImageWrapperDiv{
        width:100%;
        overflow: hidden;
        margin: 0;
        padding-top: 75%;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.containerxl{
    max-width: 37.5rem;
    .ImageWrapperDiv{
        width:100%;
        overflow: hidden;
        margin: 0;
        padding-top: 75%;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.blogImage{
    width: 100%;
    display:block;
    border-radius: 0.3125rem;
    text-align:center;
    position: relative;
}

.headingsm {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
}

.headingmd {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0;
    font-size: 1.125rem;
    line-height: 1.25rem;
}
.headinglg {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0;
    font-size: 1.25rem;
    line-height: 1.625rem;
}
.headingxl {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0;
    font-size: 1.875rem;
    line-height: 2.4375rem;
}

