@import '../../style/common.scss';

.container {
    text-align:left;
    width: 98.54%;
    max-width: inherit;
}
@mixin heading-mixin{
    font-weight: bold;
    color: $grey-level-0_8;
    margin-top: 1.031825rem;
}
.heading{
    @include heading-mixin;
}
.headingsm {
    @extend .heading;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
}

.headingmd {
    @extend .heading;
    font-size: 1.125rem;
    line-height: 1.25rem;
}
.headinglg {
    @extend .heading;
    font-size: 1.25rem;
    line-height: 1.625rem;
}
.headingxl {
    @extend .heading;
    font-size: 1.875rem;
    line-height: 2.4375rem;
}

.metadata{
    width: fit-content;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.4375rem;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.8);
    @media screen and (min-width:$break){
        font-weight: 300;
        font-size: 0.9375rem;
        line-height: 1.1875rem;
    }
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 150%;
    margin-top: 0.4375rem;
    color: $grey;
    @media screen and (min-width: $break){
        font-size: 1rem;
        line-height: 150%;
    }
}

.readMore{
    color: $blue-text;
}