.nav {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.75rem 5.625rem;


  /*
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 2000;
*/
  div {
    display: inline;
  }

  .nav-logo {
    img {
      height:5rem;
    }
  }

  .nav-brand {
    padding-left:1em;
    span:first-child {
      font-size: 1.5rem;
      color: rgba(23, 23, 23, 255);
    }

    span:last-child{
       opacity: 0.5;
       color: black;
    }
  }

  .nav-items {
    margin-left: auto;
    a{
      color: rgba(23, 23, 23, 255);
      font-size: 1.1875rem;
      padding: 0.8rem  2rem;
      border-radius: 2px;
    }
  }
}


.nav-items-active{
  background: #dddddd;
}
