<div class="home">
  <div class="home_welcome">
    Welcome <span>!</span>
  </div>

  <div class="home_about">
    <div class = "home_about_question">
      What is Student Mentorship Program (SMP) ?<span>&nbsp;</span>
    </div>

    <div *ngIf="about_smp" class= "home_about_answer">
       {{about_smp[0].smp_description}}
    </div>
    <hr />

  </div>

  <div *ngIf="vision" class=  "home_vision">

    <div *ngFor="let items of vision" class=  "home_vision_unit">

      <img [src] = "items.image" />
      <p class=  "home_vision_title">{{items.title}}</p>
      <p class=  "home_vision_description">{{items.description}}</p>

    </div>


  </div>
</div>
