<div class="contact">

  <div class="contact_form">

    <div *ngIf="contact" class="contact_team_array">

      <div *ngFor="let items of contact" class="team_unit">
        <span>
          <img class="photo" [alt]="items.name" [src]="items.photo" />
          <p class="team_name">{{items.name}} <span class="contact_team_mobile">{{items.mobile}}</span></p>
          <p class="team_branch">{{items.branch}}&nbsp;{{items.year}}&nbsp;Year</p>
          <p class="team_branch">{{items.email}}</p>
          <a [href]="items.facebook">
            <img class="fb" src="assets/team/fb.jpeg" alt="" />
          </a>

          <a [href]="items.linkden">
            <img class="fb" src="assets/team/ln.jpeg" alt="" />
          </a>
        </span>
      </div>
    </div>


    <div>

      <form>

        <table>
          <tr><td></td>
          <td><label>Feel free to ask anything...</label></td></tr>
          <tr>
            <td> <label> E-Mail : </label></td>
            <td> <input type="text"></td>
          </tr>

          <tr>
            <td>
              <label>Message :</label>
            </td>
            <td> <textarea rows = "5"></textarea></td>
          </tr>

        </table>
      </form>
    </div>


  </div>

  <div class="conact_details">

    <div>
      <strong> Address:</strong> <br /><br />
      Office of DoSW, IIT Roorkee<br />
      Roorkee 247667
    </div>



    <div> <strong> Phone :</strong> 072185 83843</div>

    <div>
      <strong> Connect us on : &nbsp; &nbsp;&nbsp;&nbsp;</strong>
      <a target="_blank" href="https://www.facebook.com/MentorshipIITR/">
        <img alt="facebook" src="assets/contact/fb.png" />
      </a>



    </div>


  </div>

</div>
