.contact {
  display: grid;
  grid-template-columns: 60% 40%;

  .contact_form {
    background: #dddddd;
  }

  .conact_details {
    background: #0e3e52;
    padding: 13.5625rem 10vw;

    div {
      color: white;
      margin-bottom: 2.625rem;
      font-size: 1rem;

      img {
        vertical-align: middle;
      }
    }

  }
}

.contact_team_array {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 4vw;
  padding: 4.75rem 15vw;
}

.contact_team_mobile {
  font-size: 0.6875rem;
}

.contact_form {
form{
  padding : 0  10vw;
  table{
    width: 100%;
     td{
       padding:2px 0;
     }
  }

  label{
    font-size: 1rem;
    padding-right:2.0625rem;
    font-weight: bold;
  }
  input,textarea {
    background: white;
    padding:0.75rem 1.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border: none;
  }
}
}
