@import "../../style/common.scss";
.container {
  position: relative;
  top: 0;
  height: 8.89%;
  width: 100%;
  ul {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  border-bottom: 0.0625rem solid $grey-level-0_05;
  margin-bottom: 0.8125rem;
  margin-top: 0;
  padding-bottom: 0.5rem;
  @media screen and (min-width: $break) {
    ul {
      grid-template-columns: 4% 90% 5%;
    }
    padding-bottom: 1.2rem;
  }
}

.filterIcon {
  display: flex;
  flex-direction: column;
  height: 0.6rem;
  width: 0.9375rem;
  justify-content: space-between;
  margin: 0.5rem auto;
  cursor: pointer;
  span {
    background-color: $grey;
    height: 0.10125rem;
    border-radius: 0.0625rem;
    &:nth-child(1) {
      width: 0.9375rem;
    }
    &:nth-child(2) {
      width: 0.75rem;
    }
    &:nth-child(3) {
      width: 0.5rem;
    }
  }
  @media screen and (min-width: $break) {
    height: 1rem;
    width: 1.75rem;
    span {
      height: 0.16rem;
      &:nth-child(1) {
        width: 1.75rem;
      }
      &:nth-child(2) {
        width: 1.5rem;
      }
      &:nth-child(3) {
        width: 1.25rem;
      }
    }
  }
}

.searchBox {
  background: rgba(0, 0, 0, 0.01);
  border: 0.036rem solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0.18rem;
  width: 100%;
  padding: 3%;
  font-size: 0.75rem;
  line-height: 1rem;
  color: $grey-level-0_5;
  &:focus {
    outline: none;
  }
  @media screen and (min-width: $break) {
    font-size: 1.1rem;
    line-height: 1.2rem;
    padding: 1%;
  }
}
.backArrow {
  height: auto;
  margin: 0.625rem auto;
  cursor: pointer;
  @media screen and (min-width: $break) {
    width: 1.2rem;
  }
}
