recaptcha:
  recaptcha_secret_key  :

sentry:
  dsn :

sendgrid:
  sendgrid_api_key :
  from_email :  # smp@iitr.ac.in
  send_to_email : # email to which query is forwarded
  receiver_name:  # Name of receiver

security:
  django_secret_key :
  allowed_hosts :  #string of hostnames seperated by space

env: # "dev" or "prod"

database:
  name:
  user:
  password:
  host: 'localhost' # use localhost by default
  port: '' # leave empty string if using localhost
