<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <div
      style="
        font-family: Avenir, Helvetica, sans-serif;
        color: #74787e;
        height: 100%;
        line-height: 1.4;
        margin: 0;
        width: 100% !important;
      "
    >
      <div>Dear {{reciever_name}},</div>
      <br />
      <div>A query has been raised by {{query_name}}:</div>
      <br />
      <div>{{query_content}}</div>

      <br />
      <div>Reply {{query_name}} at {{query_email}}</div>
      <br />
      <br />
      <div>Regards,</div>
      <div>Student Mentorship Program, IIT Roorkee</div>
    </div>
    <br /><br />
    <br />
  </body>
</html>
