@import "./reset.scss";
@import "./colors.scss";
@import "./fonts.scss";
@import "./variables.scss";

* {
  font-family: $ibm-plex;
}

.color-red {
  color: $red;
}
.color-grey {
  color: $grey;
}
.color-blue {
  color: $blue;
}

div.router-view {
  position: absolute;
  top: 8%;
}

div.header-container{
  position: absolute;
  width: 100%;
  height: 8%;
  display: flex;
  justify-items: center;
  z-index: 20;

  header {
    width: 95%;
    margin: auto;

    div.header-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      div.logo-container {
        width: fit-content;
        display: flex;
        
        img.smp-logo {
          margin: 5px;
        }

        div.logo-name-container{
          margin: 5px;
        }
      }

      div.route-container {
        position: fixed;
        width: 10px;
        z-index: 10;
        top: 8%;
        height: 92%;
        left: 0;
        background-color: $white;
        width: 100%;
        display: none;
        justify-items: center;
        @media screen and (min-width: $break){
          display: flex;
        }
        &.active {
          display: flex;
        }

        ul.nav-links {
          position: relative;
          font-style: normal;
          font-weight: normal;
          font-size: 1.5em;
          color: $route-color;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 80%;
          margin: auto;
          justify-content: space-between;

          @media screen and (min-width: $break){
            flex-direction: row;
          }

          li{
            text-align: center;
            a {
              color: $grey-darker;
            }
            a.active-route{
              color: $active-route-color;
            }
          }
        }
      }
    }
  }
}

div.intro {
  background-image: linear-gradient($light-blue, $white);
  color: $grey-darker;
  padding: 5%;
  div {
    width: fit-content;
    margin: auto;
    &.tagline {
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      margin: 15% auto;
    }
    &.description {
      width: 60%;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
    }
  }
}

div.hamburger {
  display: flex;
  @media screen and (min-width: $break){
    display: none;
  }
  flex-direction: column;
  height: 10px;
  justify-content: space-between;
  div {
    background-color: $grey;
    height: 2px;
    width:15px;
    transition: all .2s ease-in-out;
  }
  &.cross{
    div{
      &:nth-child(1){
        transform: rotate(45deg) translateY(5px);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        transform: rotate(-45deg) translateY(-5px);

      }
    }
  }
}