@import "./reset.scss";
@import "./colors.scss";
@import "./fonts.scss";

* {
  font-family: $ibm-plex;
}

.color-red {
  color: $red;
}
.color-grey {
  color: $grey;
}
.color-blue {
  color: $blue;
}

header {
  width: 100%;
  height: 100%;
  div.header-items {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 5px;
  }
}

div.logo-container {
  width: fit-content;
  display: flex;
  
  img.smp-logo {
    margin: 5px;
  }
  div.logo-name-container{
    margin: 5px;
  }
}

div.route-container {
  ul.nav-links {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: $route-color;
    li{
      margin: 10px;
      a.active-route{
        color: $active-route-color;
      }
    }
  }
}

.two-arms {
  background-color: pink;
}

div.intro {
  background-image: linear-gradient($light-blue, $white);
  color: $grey-darker;
  div {
    width: fit-content;
    margin: auto;
    &.tagline {
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
    }
    &.description {
      width: 60%;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
    }
  }
}