$red: #ED2B2B;
$grey-level-0_1: rgba(0, 0, 0, 0.1);
$grey-lighter: rgba(0, 0, 0, 0.4);
$grey: rgba(0, 0, 0, 0.54);
$grey-kinda-dark: rgba(0, 0, 0, 0.6);
$grey-darker: rgba(0, 0, 0, 0.7);
$blue: #073C52;
$blue-text: #178ABA;
$light-blue: #F4FAFD;
$light-blue-background: #F2FAFD;
$white: #FFF;
$route-color: rgba(0, 0, 0, 0.54);
$active-route-color: #178ABA;