@import "../../style/common.scss";

.contact {
  text-align: center;
}
.contactTitle {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.4375rem;
  margin: 9rem auto 4.8125rem auto;
  color: $grey-level-0_7;
  @media screen and (max-width: $break) {
    font-size: 1rem;
    line-height: 1.3125rem;
    height: 1.3125rem;
    margin: 4.5rem auto 1.855625rem auto;
  }
}

.input-common {
  font-size: 1.0625rem;
  line-height: 1.375rem;
  background: $grey-level-0_01;
  color: $grey-level-0_5;
  padding: 3%;
  width: 100%;
  margin: 0.75rem auto 2.375rem auto;
  border-radius: 0.3125rem;

  border: 0.0625rem solid $grey-level-0_1;
  &:focus {
    outline: none;
  }
  @media screen and (max-width: $break) {
    margin: 0.625rem 0 0.9375rem auto;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.contactForm {
  form {
    width: 36.65%;
    @media screen and(max-width:$break-tablet) {
      width: 65%;
    }
    @media screen and (max-width: $break) {
      width: 89.35%;
    }
    display: inline-block;
    label {
      display: block;
      float: left;
      font-style: normal;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.625rem;
      color: $grey-level-0_8;
      @media screen and (max-width: $break) {
        font-size: 0.8125rem;
        line-height: 1.125rem;
      }
    }
    input {
      @extend .input-common;
    }
    textarea {
      height: 13.5rem;
      resize: none;
      @media screen and (max-width: $break) {
        height: 7.775rem;
      }
      @extend .input-common;
    }
  }
}
