@import '../../style/common.scss';

.contact{
    text-align:center;
}
.contactTitle{
    display:inline-block;
    /* Need More Help? Contact Us */
    width: 38.875rem;
    height: 2.4375rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.4375rem;
    margin: 9rem auto 4.8125rem auto;
    /* identical to box height */
    color: $grey-level-0_7;
    @media screen and (max-width: $break){
        font-size: 1rem;
        line-height: 1.3125rem;
        width: 13.0625rem;
        height: 1.3125rem;
        margin: 4.5rem auto 1.855625rem auto; 
    }
}
.contactForm{
    form{
        display:inline-block;
        label{
            /* Name */
            display:block;
            width: fit-content;
            height: 1.625rem;
            float:left;
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.625rem;
            /* identical to box height */
             color: $grey-level-0_8;
            @media screen and (max-width: $break){
                font-size: 0.875rem;
                line-height: 1.125rem;
                height: 1.125rem;
            }
        }
        input{
            width: 29.6875rem;
            height: 2.875rem;
            font-style: normal;
            font-weight: normal;
            font-size: 1.0625rem;
            line-height: 1.375rem;
            color: $grey-level-0_5;
            margin: 0.75rem auto 2.375rem auto;
            background: $grey-level-0_01;
            border: 1px solid $grey-level-0_1;
            box-sizing: border-box;
            border-radius: 5px;
            &:focus{
                outline:none;
            }
            @media screen and (max-width: $break){
                width: 17.0625rem;
                height: 2rem;
                margin: 0px 0px 0.9375rem auto;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }
        textarea{
            /* Rectangle 2.2 */
            width: 29.6875rem;
            height: 13.5rem;
            background: $grey-level-0_01;
            border: 1px solid $grey-level-0_1;
            box-sizing: border-box;
            border-radius: 5px;
            resize: none;
            margin: 0.75rem auto 2.375rem auto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.0625rem;
            line-height: 1.375rem;
            &:focus{
                outline:none;
              }
            /* identical to box height */
            color: $grey-level-0_5;
            @media screen and (max-width: $break){
                width: 17.054375rem;
                height: 7.755rem;
                margin: 0px 0px 0.9375rem auto;
                // float: left;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }
    }
} 