@import '../../style/common.scss';

.redArm{
    position: absolute;
    right:0px;
    top: 116.1525rem;
    z-index: 10;
    @media screen and (max-width: $break){
        display:none;
    }
}
.blueArm{
    position: absolute;
    left: 0px;
    top: 87.688125rem;
    z-index:10;
    @media screen and (max-width: $break){
        display:none;
    }
}