@import '../../style/common.scss';

.questions{
    text-align: center;
}

.questionsColumn2{
  @media screen and (min-width: 1180px){
    display: inline-grid;
    margin: 3.815625rem auto 1.875rem 1.8125rem;
  }  
}

.questionsColumn1{
  @media screen and (min-width: 1180px){
    display: inline-grid;
    margin: 3.815625rem 1.8125rem 1.875rem auto; 
  } 
}

.viewMore{
    margin: 3.8125rem auto 0px auto;
    display:block;
    @media screen and (max-width : $break){
      margin-top: 0.9375rem;
    }
}