@import "../../style/common.scss";

.questions {
  width: 90%;
  margin: 5% auto;
  font-size: 0.95em;
  ul {
    display: grid;
    // grid-template-columns: 50% 50%;
    li {
      margin: 0 auto 0 auto;
      height: fit-content;
    }
  }
  @media screen and (min-width: $break-queries) {
    ul {
      grid-template-columns: 50% 50%;
    }
  }
}

.viewMore {
  margin: 3.8125rem auto 0 auto;
  display: block;
  @media screen and (max-width: $break) {
    margin-top: 0.9375rem;
  }
}
