@import '../../style/common.scss';
.questionBox{
    width: 30.8125rem;
    height: 5.8125rem;
    background: $white;
    border: 1px solid $grey-level-0_1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 3.4375rem;
    @media screen and (max-width: $break){
        /* Rectangle 2 */
        margin: 0.9375rem auto 0px auto;
        border: 0.548387px solid $grey-level-0_1;
        border-radius: 2.74194px;
        width: 17.0625rem;
        height: 4.4375rem;
    }
    @media screen and (max-width:1180px){
        margin: 3.4375rem auto 0 auto;
    }
}
.textArea{
    width: 23.4375rem;
    height: 3.75rem;
    font-family:$ibm-plex;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 150%;
    float:left;
    /* or 30px */
    color: $grey-level-0_8;
    margin: 1.0625rem 3.4375rem 1rem 1.25rem;
    @media screen and (max-width: $break){
        width: 13.856875rem;
        height: fit-content;
        margin: 0.3125rem 0.624375rem 0.375rem 0.811875rem;
        font-size: 0.875rem;
        line-height: 140%;
    }
}
.downArrow{
    /* Path */
    vertical-align: center;
    float:right;
    margin:35px 21px auto auto;
    img{
      height:20px;
      width:20px;
    }
    @media screen and (max-width:$break) {
      margin:17px 10.34px auto auto;
      img{
        height:5.56px;
        width:8.99px;
      }
    }
}
  