@import '../../style/common.scss';
.mainHeading{
    font-size: 3.125rem;
    line-height: 4.0625rem;
}
.MainWrapper{
    width:90%;
    margin:auto;
}
.sectionHeading{
    font-size: 1.875rem;
    line-height: 2.4375;
    font-weight: 500;
    text-align: left;
    margin-top: 5%;
}
.ul1{
    margin: auto;
    li{
        margin-top: 2%;
        padding-bottom:6%;
    }
}
.ul2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    li{
        padding-top:8%;
        padding-right: 25%; 
    }
    @media screen and (max-width:$break-events){
        grid-template-columns: 1fr 1fr 1fr;
    }
}   