.mainHeading{
    font-size: 3.125rem;
    line-height: 4.0625rem;
}
.sectionHeading{
    font-size: 1.875rem;
    line-height: 2.4375;
    font-weight: 500;
    text-align: left;
    margin-left: 8%;
    margin-top: 5%;
}
.ul1{
    width:90%;
    margin: auto;
    li{
        // width:80%;
        margin: auto;
        padding:3%;
    }
}
.ul2{
    width:90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    li{
        margin: auto;
        padding:6%;
        padding-left: 0%; 
        margin-left:5% ;
    }
    @media screen and (max-width:1470px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}   