@import '../../style/common.scss';

.mainDiv{
    font-size: 1rem;
    width:100%;
    text-align:center;
    background-image: linear-gradient($light-blue, $white);
    color: $grey-level-0_8;
    padding: 5%;
}
