@import '../../style/common.scss';

.containersm {
    font-size: 17.125rem;
    width: 17.125rem;
    max-width: 90%;
    // height:fit-content;
}

.containermd{
    font-size:20.25rem;
    width:20.25rem;
    max-width: 90%;
    // height:fit-content;
}

.containerlg{
    font-size: 36.9375rem;
    width:36.9375rem;
    max-width: 90%;
    // height:fit-content;

}

.containerxl{
    width:37.5rem;
    width:37.5rem;
    max-width: 90%;
    // height:fit-content;
}

.containerSide{
    // border: 1px solid $grey;
    width:80%;
    display:block;
    text-align: left;
    @media screen and (max-width: 1270px){
        width:95%;
    }
}


.eventImage{
    width: 0.9854em;
    max-width: 90%;
    display:block;
    border-radius: 5px;
}

.thisWeek{
    display:block;
    position: absolute;
    z-index:11;
    margin-top:12px;
    margin-left: -2px;
}

.headingsm {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
}

.headingmd {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 1.125rem;
    line-height: 1.25rem;
}
.headinglg {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 1.25rem;
    line-height: 1.625rem;
}
.headingxl {
    text-align:left;
    display:block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.625rem auto 0.625rem 0px;
    font-size: 1.875rem;
    line-height: 2.4375rem;
}

.sideViewImg{
    width:41.63%;
    display: inline-block;
    vertical-align: top;
    // margin-top:0;
    // padding-top: 0;
}


