@import 'style/common.scss';

.infoContainer {
    position: relative;
    padding: 10%;
    &:after {
        position: absolute;
        width: 100%;
        height: 75%;
        left: 0;
        top: 25%;
        content: "";
        background-color: $light-blue-background;
        z-index: -5;
    }
}