@import 'style/common.scss';
.head{
  @media screen and (min-width:$break-tablet){
    min-height: 100vh; 
  }
}

.infoContainer {
    position: relative;
    padding: 10%;
    &:after {
        position: absolute;
        width: 100%;
        height: 75%;
        left: 0;
        top: 25%;
        content: "";
        background-color: $light-blue-background;
        z-index: -5;
    }
    @media screen and (min-width:$break-tablet){
      padding:0;
      &:after{
        width:56.59%;
        right:0;
        position: absolute;
        top:0;
        left:auto;
        right:0;
        height: 100%;
      }
      div{
        div{
          width:63.19%;
          text-align:left;
          display: inline-block;
          margin-left:4rem;
          h3{
            font-weight: 500;
            font-size: 30px;
            line-height: 39px;
            color:$grey-level-0_7;
            margin-top: 18.9%;
          }
          p{
            font-weight: 300;
            font-size: 20px;
            line-height: 150%;
            color: $grey;
            margin: 5.04% auto 18.9% 0;
          }
        }
      }
    }
    @media screen and (min-width:$break-queries){
      div{
        div{
          h3{
            font-size: 40px;
            line-height: 52px;
          }
          p{
            font-size: 24px;
            line-height: 150%;
          }
        }
      }
    }
}

//Intro
.intro {
    background-image: linear-gradient($light-blue, $white);
    color: $grey-level-0_7;
    padding: 5%;
    width: 100%;
    font-size: 1rem;
    @media screen and(min-width: $break) {
      font-size: 1.2rem;
    }
}
.tagline {
    font-size: 2.2em;
    line-height: 1.5em;
    margin: 3.5rem auto;
    width: fit-content;
    margin: auto;
    text-align:center;
    @media screen and (min-width:$break-tablet){
      font-weight: normal;
      font-size: 70px;
      line-height: 91px;
    }
}
.description {
    width: 75%;
    text-align: center;
    font-size: 0.9em;
    line-height: 150%;
    width: fit-content;
    margin: 32px auto auto auto;
    @media screen and(min-width: $break){
        width: 48%;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: $grey;
        margin-top: 39px;
    }
}

//Stats
.stats {
    width: 75%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    @media screen and (min-width: $break){
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
}

.item{
    position: relative;
    width: 100%;
    height: 50%;
    padding: 10%;
    &:nth-child(2n+1){
      @include blue-border-on-right;
    }
    @media screen and (min-width: $break){
      &:not(:last-child){
        @include blue-border-on-right;
      }
    }
}

.count{
    color: $blue-text;
    font-size: 1.8em;
    align-content: start;
    text-align: center;
    @media screen and (min-width:$break-tablet){
      font-weight: 500;
      font-size: 40px;
      line-height: 52px;
    }
}
.label{
    color: $grey-level-0_4;
    align-content: start;
    text-align: center;
    @media screen and (min-width:$break-tablet){
      font-weight: 300;
      font-size: 24px;
      line-height: 150%;
      color: $grey;

    }
}

//Team
.teamHeading{
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  margin: 40px auto 20px auto;
  color: $grey-level-0_7;
  @media screen and (min-width:$break){
    font-size: 30px;
    line-height: 39px;
  }
  @media screen and (min-width:$break-tablet){
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    margin-top: 165px;
    margin-bottom: 4rem;
  }
}

.teamCardContainer{
  width: 100%;
  margin: auto;
  ul {
    display: grid;
    li{
        margin-bottom: 20px;
        text-align: center;
    }
  }
  @media screen and (min-width: $break-team-section){
    ul{
      grid-template-columns: 50% 50%;
    }
  }
  @media screen and (min-width:$break){
    width: 67%;
    ul{
      grid-template-columns: 1fr 1fr 1fr;
      li{
        margin-bottom: 58px;
        padding-left: auto;
      }
    }
  }
}

.viewMore{
  display: block;
  margin: 0 auto 44px auto;
}