.mainDiv{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.8);
}
.image{
    position:fixed;
    width:5rem;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    display:inline-block;
}