@import "../../style/common.scss";
.mainDiv {
  margin: 1rem auto 0 auto;
  @media screen and (min-width: $break) {
    margin-top: 2rem;
    width: 66.66%;
  }
}
.mainImageDiv {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 56.25%;
  position: relative;
}
.mainImage {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.contentDiv {
  width: 94%;
  margin: auto;
  @media screen and (min-width: $break) {
    width: 100%;
  }
}
.blogHeading {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.8125rem;
  margin-top: 1rem;

  color: $grey-level-0_7;
  @media screen and (min-width: $break) {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
  @media screen and (min-width: $break-tablet) {
    font-size: 2.2rem;
    margin-top: 2.5rem;
  }
}
.metadata {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  /* identical to box height */

  color: $grey-level-0_8;
  margin: 1.0625rem auto 1.0625rem 0;
  @media screen and (min-width: $break) {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
  @media screen and (min-width: $break-tablet) {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
.blogText {
  font-size: 0.9375rem;
  line-height: 150%;

  color: $grey-level-0_5;
  @media screen and (min-width: $break) {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
  @media screen and (min-width: $break-tablet) {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
.thanks {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  /* identical to box height */

  color: $grey-level-0_8;
  margin-top: 1.0625rem;
  @media screen and (min-width: $break) {
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }
  @media screen and (min-width: $break-tablet) {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
.hr {
  width: 92.77%;
  margin: 0.9375rem auto 1.0625rem auto;
  border: 0.03125rem solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10%;
}
