@import '../../style/common.scss';

.mainDiv{
    font-size: 1rem;
    width:100vw;
    text-align:center;
    background-image: linear-gradient($light-blue, $white);
    color: $grey-darker;
    padding: 5%;
}