.mainDiv{
    font-size: 1rem;
    width:100vw;
    text-align:center;
}

.heading{
    margin: 1.9375rem auto 0px auto;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 2.1875rem;
    text-align: center;
}

.blogCardCommon{
    margin: 3.5625rem auto 0px auto;
}