@import '../../style/common.scss';
.cardSection{
    padding-left:2.0625rem;
}
.sectionHeading{
    margin: 3.0625rem auto 2.25rem 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3125rem;
    color:$blue-text;
    @media screen and (min-width:$break){
        font-size: 1.6875rem;
        line-height: 2.1875rem;
    }
}
.viewBlogsButton{
    margin: 2.1875rem auto 2.5rem auto;
    display: block;
    // left:-2.0625rem;
    // position: relative;
}