.titleContainer {
    width: 70%;
    margin: 10% auto;
}

.illustration {
    width: 80%;
    margin: auto;
    img {
        width: 100%;
    }
}

.description  {
    width: 80%;
    margin: 10% auto;
}