.homeContainer {
    & > * {
        margin: 10% auto;
    }
}

.titleContainer {
    width: 70%;
}

.illustration {
    width: 80%;
    img {
        width: 100%;
    }
}

.description  {
    width: 80%;
}

.button {
    width: fit-content;
}