@import 'style/common.scss';

.outline {
    color: $blue-text;
    background-color: $white;
    border: 0.05rem solid $blue-text;
    border-radius: 0.14rem;
    padding: 0.375rem 1.25rem 0.375rem 1.375rem;

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    @media not all and (pointer: coarse){
        &:hover{
            color: $white;
            background: $blue-text;
            border:none;
        }
    }
    @media screen and (min-width : $break){
        border-width: 0.09375rem;
        border-radius: 0.25rem;
        padding: 0.625rem 2.625rem 0.6325rem 2.6875rem;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.solid {
    color: $white;
    background-color: $blue-text;
    border: 0.05rem solid $blue-text;
    border-radius:0.125rem;
    padding: 0.375rem 1.25rem 0.375rem 1.375rem;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    @media not all and (pointer : coarse){
        &:hover{
            color: $blue-text;
            background: $white;
        }
    }
    @media screen and (min-width : $break){
        border-width: 0.09375rem;
        border-radius: 0.75rem;
        padding: 0.625rem 2.625rem 0.6325rem 2.6875rem;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.disabled {
    color: $grey-level-0_4;
    background: white;
    border-radius:0.125rem;
    border: 0.05rem solid $grey-level-0_1;
    padding: 0.375rem 1.25rem 0.375rem 1.375rem;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    @media not all and (pointer:coarse){
        &:hover{
            color: $white;
            background: $blue-text;
            border-color: $blue-text;
        }
    }
    @media screen and (min-width : $break){
        border-width: 0.09375rem;
        border-radius: 0.25rem;
        padding: 0.625rem 2.625rem 0.6325rem 2.6875rem;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}
