@import 'style/common.scss';

.outline {
    color: $blue-text;
    background-color: $white;
    border: 0.850355px solid $blue-text;
    border-radius: 2.26761px;
    
    width: 6.25rem;
    height: 1.75rem;

    font-family : $ibm-plex;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    &:hover{
        color: $white;
        background: $blue-text;
        border:none;
    }
    @media screen and (min-width : $break){
        border-width: 1.5px;
        border-radius: 4px;
        width: 11.3125rem;
        height: 2.875rem;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.solid {
    color: $white;
    background-color: $blue-text;
    border:none;
    border-radius:5px;

    width: 6.25rem;
    height: 1.75rem;

    font-family : $ibm-plex;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    &:hover{
        color: $blue-text;
        background: $white;
        border: 0.850355px solid $blue-text;
        border-radius: 5px;
    }
    @media screen and (min-width : $break){
        border-width: 1.5px;
        border-radius: 4px;
        width: 11.3125rem;
        height: 2.875rem;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.disabled {
    color: $grey-lighter;
    background: $grey-disabled-background;
    border: 0.822622px solid $grey-disabled-border;
    
    width: 6.25rem;
    height: 1.75rem;

    font-family : $ibm-plex;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    &:hover{
        color: $white;
        background: $blue-text;
        border:none;
    }
    @media screen and (min-width : $break){
        border-width: 1.5px;
        border-radius: 4px;
        width: 11.3125rem;
        height: 2.875rem;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}
