@import 'style/common.scss';

.outline {
    color: $blue-text;
    background-color: $white;
    border: 0.850355px solid $blue-text;
    border-radius: 2.26761px;
    padding: 6px 20px 6px 22px;

    font-family : $ibm-plex;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    @media not all and (pointer: coarse){
        &:hover{
            color: $white;
            background: $blue-text;
            border:none;
        }
    }
    @media screen and (min-width : $break){
        border-width: 1.5px;
        border-radius: 4px;
        padding: 10px 42px 10px 43px;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.solid {
    color: $white;
    background-color: $blue-text;
    border: 0.850355px solid $blue-text;
    border-radius:2px;
    padding: 6px 20px 6px 22px;
    font-family : $ibm-plex;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    @media not all and (pointer : coarse){
        &:hover{
            color: $blue-text;
            background: $white;
            border: 0.850355px solid $blue-text;
            border-radius: 2px;
        }
    }
    @media screen and (min-width : $break){
        border-width: 1.5px;
        border-radius: 2px;
        padding: 10px 42px 10px 43px;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

.disabled {
    color: $grey-level-0_4;
    background: white;
    border-radius:2px;
    border: 0.822622px solid $grey-level-0_1;
    padding: 6px 20px 6px 22px;
    font-family : $ibm-plex;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    &:focus {
        outline: none;
    }
    @media not all and (pointer:coarse){
        &:hover{
            color: $white;
            background: $blue-text;
            border-color: $blue-text;
        }
    }
    @media screen and (min-width : $break){
        border-width: 1.5px;
        border-radius: 4px;
        padding: 10px 42px 10px 43px;
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}
