.mainImage{
    width:90vw;
    padding-top:10%;
    margin:10% auto 0 auto;
    text-align:center;
}
.text{
    width:90vw;
    font-size:25px;
    margin: 60px auto 60px auto;
    text-align:center;
    line-height: 39px;
}

.mainDiv{
    min-height:100vh;
    padding-bottom:5%;
}