@import "style/common.scss";

.headerContainer {
  position: fixed;
  background: $white;
  border-bottom: 0.0625rem solid $grey-level-0_05;
  width: 100%;
  min-height: 3.125rem;
  height: 8%;
  display: flex;
  justify-items: center;
  z-index: 20;
  top: 0;

  header {
    width: 95%;
    margin: auto;
    @media screen and (min-width: $break) {
      width: 90%;
    }

    .headerItems {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.3125rem;

      .routeContainer {
        position: fixed;
        width: 0.625rem;
        z-index: 10;
        top: 8%;
        height: 92%;
        left: 0;
        background-color: $white;
        width: 100%;
        display: none;
        justify-items: center;
        @media screen and (min-width: $break) {
          display: flex;
          position: relative;
          width: 80%;
          font-size: 0.7em;
        }
        @media screen and (min-width: $break-tablet) {
          width: 50%;
        }
        &.active {
          display: flex;
        }

        ul.navLinks {
          position: relative;
          font-style: normal;
          font-weight: normal;
          font-size: 1.5em;
          color: $route-color;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 80%;
          margin: auto;
          justify-content: space-between;

          @media screen and (min-width: $break) {
            flex-direction: row;
          }

          li {
            text-align: center;
            a {
              color: $grey-level-0_7;
            }
            a.active-route {
              color: $active-route-color;
            }
          }
        }
      }
    }
  }
}

.logoContainer {
  width: fit-content;
  display: flex;

  img {
    height: 22px;
    width: 22px;
    margin: 0.3125rem;
  }

  div {
    margin: 0.3125rem;
  }
}
