@import '../../style/common.scss';

.container {
    text-align: center;
    width: 100%;
    & > * {
        text-align: inherit;
        margin: 5% auto;
    }
}

.heading {
    color: $grey-level-0_7;
    font-size: 1.2em;
    font-weight: bold;
}

.text {
    color: $grey;
    font-size: 0.9em;
    line-height: 1.6em;
}