@import "../../style/common.scss";
.mainWrapper {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  overflow-y: scroll;
}
.reactCrop {
  margin: 2rem auto;
  width: 80%;
  display: block;
  @media screen and (min-width: $break) {
    width: 40%;
  }
}
.infoText {
  font-weight: bold;
  font-size: 1.2rem;
}
.croppedImage {
  display: block;
  margin: 0 auto;
  width: 40%;
  @media screen and (min-width: $break) {
    width: 15%;
  }
}
.doneBtn {
  position: fixed;
  bottom: 5%;
  display: inline-block;
  @media screen and (min-width: $break) {
    bottom: auto;
    right: 10%;
    top: 10%;
  }
}
