<div class="footer">
  <div class="footer_address">
    <span class="footer_title">
      Address :
    </span>
    <span class="footer_des">
      Office of DoSW, IIT Roorkee <br />
      Roorkee 247667
    </span>
  </div>

  <div>
    <span class="footer_title">
      Phone :
    </span>

    <span class="footer_des">
      072185 83843
    </span>
  </div>

  <div>
    <span class="footer_title">
      Connect us on :
    </span>

    <span class="footer_des">
      <a target = "_blank" href = "https://www.facebook.com/MentorshipIITR/">
        <img alt = "facebook" src = "assets/footer/fb.png" />
      </a>
    </span>
  </div>

  <div>
    <img  class="footer_logo" src= "assets/footer/logo.png" alt ="SMP Logo" />
  </div>


</div>
