@import "../../style/common.scss";
.MainWrapper {
  @import "../../../node_modules/bootstrap/scss/bootstrap";
  width: 80%;
  margin: 2rem auto;
  min-height: 100vh;
  @media screen and (min-width: $break) {
    width: 40%;
  }
}
.button {
  margin: 2rem auto;
  display: block;
  width: 40%;
}
.heading {
  text-align: center;
  margin-bottom: 1.5rem;
}
.croppedImageDiv {
  text-align: center;
}
.cropAgain {
  margin: 1rem auto;
}
.croppedImage {
  width: 80%;
  display: block;
}
