@import "../../style/common.scss";

.container {
  display: inline-block;
  width: 92.43%;
  @media screen and (min-width: $break-tablet) {
    width: 80.57%;
  }
}
.imageparent {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 100%;
  position: relative;
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 0.1875rem 0.18875rem 0 0;
  object-fit: cover;
}
.name {
  width: 95%;
  margin-top: 0.662rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: $grey;
  @media screen and (min-width: $break-tablet) {
    font-size: 1.5rem;
    line-height: 150%;
  }
}
.designation {
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: $grey;
  @media screen and (min-width: $break-tablet) {
    font-size: 1.5rem;
    line-height: 150%;
  }
}
.contact {
  margin-top: 0.9375rem;
  display: block;
  // padding:auto;
  text-align: center;
}

.fb {
  height: 1.75rem;
  width: 1.75rem;
  background: $white;
  border: 0.0446rem solid $grey-level-0_3;
  box-sizing: border-box;
  border-radius: 0.2848rem;
  display: inline-block;
  margin: auto 0.5rem auto auto;
  @media screen and (min-width: $break-tablet) {
    height: 2.1875rem;
    width: 2.1875rem;
  }
}
.call {
  height: 1.75rem;
  width: 1.75rem;
  background: $white;
  border: 0.0446 solid $grey-level-0_3;
  box-sizing: border-box;
  border-radius: 0.2843em;
  display: inline-block;
  margin: auto auto auto 0.5rem;
  @media screen and (min-width: $break-tablet) {
    height: 2.1875rem;
    width: 2.1875rem;
  }
}
.linkedin {
  opacity: 0.6;
}
.commonIcon {
  display: inline-block;
  vertical-align: middle;
  height: 70%;
  width: 70%;
  margin-top: 15%;
}
