@import "../../style/common.scss";

.mainDiv {
  position: relative;
  background-image: linear-gradient($light-blue, $white);
  z-index: 0;
  color: $grey-level-0_7;
  width: 100%;
  font-size: 1rem;
  padding-top: 5%;
}

.mainHeading {
  font-weight: 500;
  font-size: 1.6875rem;
  line-height: 2.1875rem;
  text-align: center;
  color: $grey-level-0_7;
  @media screen and (min-width: $break) {
    font-size: 3.125rem;
    line-height: 4.0625rem;
  }
}

.briefMentors {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 150%;
  text-align: center;
  color: $grey;
  margin: 1.625rem auto 0 auto;
  width: 60%;
  @media screen {
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}
.viewMentorsButton {
  display: block;
  margin: 2.25rem auto 9.625rem auto;
}
.mentorImage {
  width: 81.435%;
  // height:100%;
  position: relative;
  // z-index:99;
  top: -5rem;
  margin: auto;
  display: block;
}
.secondSection {
  min-height: 100vh;
  padding-bottom: 5.25rem;
  background: $light-blue-background;
}
.infoContainer {
  position: relative;
  padding: 3%;
  &:after {
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0;
    top: 25%;
    content: "";
    background-color: $light-blue-background;
    z-index: -5;
  }
  @media screen and (min-width: $break-tablet) {
    padding-left: 0;
    padding-right: 0;
    &:after {
      width: 56.59%;
      right: 0;
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      height: 100%;
    }
    div {
      div {
        width: 63.19%;
        text-align: left;
        display: inline-block;
        margin-left: 4rem;
        h3 {
          font-weight: 500;
          font-size: 1.875rem;
          line-height: 2.4375rem;
          color: $grey-level-0_7;
          margin-top: 18.9%;
        }
        p {
          font-weight: 300;
          font-size: 1.25rem;
          line-height: 150%;
          color: $grey;
          margin: 5.04% auto 18.9% 0;
        }
      }
    }
  }
  @media screen and (min-width: $break-queries) {
    div {
      div {
        h3 {
          font-size: 2.1875rem;
          line-height: 2.625rem;
        }
        p {
          font-size: 1.375rem;
          line-height: 150%;
        }
      }
    }
  }
}
.recruitHeading {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  /* identical to box height */
  text-align: center;
  display: block;
}
.recruitText {
  display: block;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 150%;
  text-align: center;
  color: $grey;
  margin: 1.625rem auto 0 auto;
  width: 15.5625rem;
  max-width: 90%;
}

.learnMore {
  margin: 1.9375rem auto auto auto;
  display: block;
  background: $light-blue-background;
}
.resourceHeading {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  /* identical to box height */
  text-align: center;

  color: $grey-level-0_6;
  margin: 2.875rem auto 1.9375rem auto;
  @media screen {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
.impLinks {
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: #0f1da4;
  margin-bottom: 4.125rem;
  @media screen and (min-width: $break-tablet) {
    font-size: 1.25em;
  }
}
.links {
  margin: 0.46875rem auto;
  display: inline-block;
  border-bottom: 0.0625rem solid #0f1da4;
}
