@import "../../style/common.scss";
.container {
  padding: 5%;
  margin: 0;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  background: $white;
  z-index: 100;
  margin-top: -8vh;
  overflow-x: hidden;
}

.department {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: $blue-text;
  @media screen and (min-width: $break) {
    font-size: 1.35rem;
    line-height: 1.5rem;
    margin: 1rem auto;
  }
}

.mentorCard {
  margin: 1.125rem auto 0.75rem 0;
}

hr {
  border: 0.03125rem solid $grey-level-0_1;
}
